@charset "utf-8";


.tableflame a {
    color:#0000c0;
}

.tableflame a:visited {
    color:#0000c0;
}

.tr_separate {
    /*height:20px;*/
    color:#ffffff;
    font-size:12px;
    text-shadow:2px 2px 2px #444444;
    background-color:#aaaaaa;
}

.tr_normal {
    background-color:#eeeeee;
}

.tr_new {
    background-color:#ff8888;
}

.tr_update {
    background-color:#8888ff;
}

.tableflame table {
    font-size: 12px;
    width: 100%;
}

.tableflame td {
    table-layout: fixed;
}

.tableflame tr,a {
    /*Firefox向け*/
    -moz-transition-property: color, background-color;
    -moz-transition-duration:0.2s;
    /*Chrome、Safari向け*/
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration:0.2s;
    /*Opera向け*/
    -o-transition-property: color, background-color;
    -o-transition-duration:0.2s;
    transition-property: color, background-color;
    transition-duration:0.2s;
}

.tableflame tr.tr_normal:hover {
    background-color:#70f0f0;
}

#t_load{
    text-align: center;
}
